#footer{
	border-top: 0!important;
	margin-top: 0!important;
	padding: 0!important;
}
.site-info{
	width: 100%;
	height: 64px;
	background-color: $verdeFooter;
	color: $branco;
	padding-top: 12px;
	span.text-footer{
		a{
			color: $branco;
		}
		.ernandes{
			text-transform: uppercase;
		}
	}
}











