@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/* fonte */
$fonte:						'Open Sans', sans-serif;
$sizePadrao:				12px;
$sizeTitle:					28px;

/* color */
$verdePrincipal:			#98c771	!default;
$verdeSegundario:			#07a803	!default;
$verdeBorda:				#024c00	!default;
$verdeFooter:				#295a00	!default;
$verdeHover:				#b7d89b	!default;
$cinza:						#e0e0e0	!default;
$branco:					#fff	!default;
$preto:						#000	!default;


